@charset "utf-8";

/* 현대 lc샘플 3번째 도전 ㅅㅂ >>성공!  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid darkblue;
}
:root {
  font-family: "Gothic A1", sans-serif;

  /* align-items: flex-start; */
  height: 1024px;

}

.one {
  display: flex;
  height: 830px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: url(/ex/images/hyundailc/hyundai.jpg) no-repeat 100% / cover;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one .inner {
  gap: 20px;
  padding-top: 250px;
}
h1 {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 20px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
  width: 600px;
  color: #000;
  font-size: 50px;
  font-weight: 700;
}
.two .right h2 {
  color: #FFF;
}
h3 {
  color: #009882;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
h4 {
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
}
.three h4 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;

}
.copy {
  display: flex;
  padding-bottom: 100px;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
}
p {
  color: #FFF;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
a {
  background: #009882;
  display: flex;

  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;

}
.one .inner a {
  padding: 14px 64px;
}
.two {
  display: flex;
  height: 830px;
  align-items: center;
  align-self: stretch;
}
.left {

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
}
.three .left {
  padding: 100px 0 0 0;
}
.right {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex: 1 0 0;
}
.inner600 {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.two .left .inner600 {

  padding-top: 150px;
  position: relative;
  align-items: flex-start;
  gap: 22px;
  align-self: stretch;
}
.two .right {
  background: #009882;
}
.two .right .inner600 {
  padding: 220px 0px 0px 150px;
  align-items: flex-start;
  align-self: stretch;
}
.two .right .inner600 .frame:nth-of-type(1) {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.two .right .inner600 .frame:nth-of-type(2) {
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.three {
  display: flex;
  height: 756px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}


.three .left .inner600 a {
  border: 1px solid #FFF;
  background: none;
  width: 200px;
  height: 45px;
  padding: 0 0 0 0;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  right: 40px;

}

.three span:nth-child(1) {
  color: #009882;
  text-align: center;

}
.three span:nth-child(2) {
  color: #FFF;

  text-align: center;
}

.three .right .inner600 {

  padding-top: 40px;
  align-items: flex-start;
  gap: 80px;

}

.img03 a {
  width: 200px;
  height: 45px;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.img01 {
  width: 690px;
  height: 360px;
  background: url(/ex/images/hyundailc/hyundai1.jpg) no-repeat 100% / cover;
}
.three .left .inner600 {
  background: url(/ex/images/hyundailc/hyundai2.jpg) no-repeat 100% / cover;
  height: 470px;
  position: relative;
  padding: 40px 40px 40px 40px;
}
.img03 {
  background: url(/ex/images/hyundailc/hyundai3.jpg) no-repeat 100% / cover;
  width: 600px;
  height: 470px;
  padding: 40px 40px 40px 40px;
  position: relative;

}
.four {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: url(/ex/images/hyundailc/hyundai4.jpg) no-repeat 100% / cover;
}
.four .inner {

  padding-top: 130px;
  justify-content: flex-end;
  gap: 100px;
}
.four h2 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.four p {
  width: 960px;
  color: #FFF;
  text-align: center;
}
.four a {
  display: flex;
  width: 200px;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
}