@charset "utf-8";

/*  네이버랩스 도전!~ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
:root {
  font-family: Roboto;
}
.naverPC {
  margin: 0 auto;
}
header {
  width: 100%;
  padding: 36px 120px 26px 120px;
  display: flex;
  align-items: center;

  border-bottom: 1px;
  border-color: black;
  height: 100px;
}

.logo {
  width: 185px;
  height: 19px;
  background: url(/ex/images/naver/naverlogo.jpg) no-repeat 100% / cover;
}
.header_inner {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav {
  display: flex;
  gap: 50px;
  padding: 10px 5px 0 5px;
  align-items: center;
}
.header_nav span {
  border-bottom: 4px solid transparent;
  padding-bottom: 6px;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.header_nav span:hover {
  border-color: #0078FF;
}
.header_nav a {
  padding: 8px 15px;
  border: 1px solid #000;
  color: #000;
}
.keywords {
  border-radius: 3px;
  border: #E8E8E8 solid 1px;
  padding: 7px 10px;
  background-color: #F8F8F8;
  color: #969696;
  font-size: 14px;
  font-weight: 400;
}
button:hover {
  color: #FFFFFF;
  background-color: #0078FF;
}

main {
  width: 100%;
  padding: 0px 120px;
  display: flex;
  justify-content: center;
}
.main_inner {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 50px 0;
}
.main_aside {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: auto;
  padding: 0 0 0 20px;
}
.main_aside .bt_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 0 0;
}
.mySwiper {
  width: 960px;
  height: 500px;
}
.sort {
  display: flex;
  align-items: flex-end;
  height: 50px;
}
.select {
  display: flex;
  padding: 0 10px 0 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.select span {
  color: #000000;
  font-weight: 500;
}
.select span:nth-of-type(1) {
  font-weight: 500;
  font-size: 13px;
}
.select .arrow {
  width: 18px;
  height: 18px;
}
.article {
  /* height: 263px; */
  display: flex;
  flex-direction: column;
}
.frame {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 30px 0;
}
.article_content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 680px;
  height: 203px;
}
.article .thumnail {
  width: 280px;
  height: 150px;
}
.article.a1 .thumnail {
  background: url(/ex/images/naver/naver4.jpg) no-repeat 100% / cover;
}
.article.a2 .thumnail {
  background: url(/ex/images/naver/naver5.jpg) no-repeat 100% / cover;
}
.article.a3 .thumnail {
  background: url(/ex/images/naver/naver6.jpg) no-repeat 100% / cover;
}
.article_title {
  color: #000;
  font-size: 22px;
  font-weight: 500;
}
p {
  color: #4A4A4A;
  width: 655px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3;
  max-height: 2.6rem;
  font-size: 13px;
  font-weight: 300;
}
.info {
  color: #969696;
  font-size: 13px;
  font-weight: 500;
}
/* .bar {
  width: 1px;
  background: #C4C4C4;
  height: auto;
} */
.date {
  padding: 0 10px 0 0;
  border-right: 1px solid #C4C4C4;
}
.writer {
  padding: 0 0 0 10px;
}
.article {
  border-bottom: 1px solid #E8E8E8;
}
footer {
  width: 100%;
  display: flex;
  padding: 0px 119px 0px 39px;
  justify-content: center;
  align-items: center;
  background: #000;
}
.footer_inner {
  width: 100%;
  display: flex;
  padding: 54px 0px 66px 0px;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  align-items: center;
}
ul {
  gap: 20px;
  display: flex;
  align-items: center;
}
.sns > li > a {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.50);
}
.footer_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.footer_right span a {
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-weight: 300;
}
.fa-brands.fa-linkedin {
  color: #B4B4B4;
}
.footer_right span:nth-child(4) a {
  padding: 8px 15px;
  border: 1px solid #B4B4B4;
}
.swiper-slide:nth-of-type(1) {
  background: url(/ex/images/naver/naver1.png) no-repeat 100% / cover;
}
.swiper-slide:nth-of-type(2) {
  background: url(/ex/images/naver/naver2.jpg) no-repeat 100% / cover;
}
.swiper-slide:nth-of-type(3) {
  background: url(/ex/images/naver/naver3.jpg) no-repeat 100% / cover;
}

/* .footer_right span:first-child {
  padding: 0 10px 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.50);
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
a:link,
a:visited {
  color: rgba(255, 255, 255, 0.50);
  text-decoration: none;
}
.sns li a {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.footer_right a {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
} */