@charset "utf-8";

/* 빨래방 샘플 */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {
  outline: 1px solid rgb(255, 51, 0);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  width: 1494px;
  height: 1024px;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  display: flex;
  padding: 10px 0px 45px 0px;
  align-items: flex-start;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;

}

h3 {
  color: var(--_1, #00B9D2);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  color: #353535;

  font-feature-settings: 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

section {
  display: flex;
  gap: 70px;
  align-self: stretch;
}

.image1 {
  width: 690px;
  height: 325px;
}

.textb {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.two {
  display: flex;
  flex-direction: row-reverse;
}